USE [PlayVision]
GO
ALTER TABLE [dbo].[Scout] DROP CONSTRAINT [FK_Scout_Usuario]
GO
ALTER TABLE [dbo].[Logro] DROP CONSTRAINT [FK_Logro_Jugador]
GO
ALTER TABLE [dbo].[Jugador] DROP CONSTRAINT [FK_Jugador_Usuario]
GO
ALTER TABLE [dbo].[Informe] DROP CONSTRAINT [FK_Informe_Scout]
GO
ALTER TABLE [dbo].[Informe] DROP CONSTRAINT [FK_Informe_Jugador]
GO
ALTER TABLE [dbo].[EventoUsuario] DROP CONSTRAINT [FK_EventoUsuario_Usuario]
GO
ALTER TABLE [dbo].[Administrador] DROP CONSTRAINT [FK_Administrador_Usuario]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 5/07/2025 13:12:55 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Usuario]') AND type in (N'U'))
DROP TABLE [dbo].[Usuario]
GO
/****** Object:  Table [dbo].[Scout]    Script Date: 5/07/2025 13:12:55 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Scout]') AND type in (N'U'))
DROP TABLE [dbo].[Scout]
GO
/****** Object:  Table [dbo].[Logro]    Script Date: 5/07/2025 13:12:55 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Logro]') AND type in (N'U'))
DROP TABLE [dbo].[Logro]
GO
/****** Object:  Table [dbo].[Jugador]    Script Date: 5/07/2025 13:12:55 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Jugador]') AND type in (N'U'))
DROP TABLE [dbo].[Jugador]
GO
/****** Object:  Table [dbo].[Informe]    Script Date: 5/07/2025 13:12:55 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Informe]') AND type in (N'U'))
DROP TABLE [dbo].[Informe]
GO
/****** Object:  Table [dbo].[EventoUsuario]    Script Date: 5/07/2025 13:12:55 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[EventoUsuario]') AND type in (N'U'))
DROP TABLE [dbo].[EventoUsuario]
GO
/****** Object:  Table [dbo].[Administrador]    Script Date: 5/07/2025 13:12:55 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Administrador]') AND type in (N'U'))
DROP TABLE [dbo].[Administrador]
GO
USE [master]
GO
/****** Object:  Database [PlayVision]    Script Date: 5/07/2025 13:12:55 ******/
DROP DATABASE [PlayVision]
GO
/****** Object:  Database [PlayVision]    Script Date: 5/07/2025 13:12:55 ******/
CREATE DATABASE [PlayVision]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PlayVision', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\PlayVision.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PlayVision_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\PlayVision_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PlayVision].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PlayVision]
GO
/****** Object:  Table [dbo].[Administrador]    Script Date: 5/07/2025 13:12:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Administrador](
	[ID_Administrador] [int] NOT NULL,
 CONSTRAINT [PK_Administrador] PRIMARY KEY CLUSTERED 
(
	[ID_Administrador] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EventoUsuario]    Script Date: 5/07/2025 13:12:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EventoUsuario](
	[ID_EventoUsuario] [int] IDENTITY(1,1) NOT NULL,
	[ID_Usuario] [int] NOT NULL,
	[Evento] [varchar](30) NOT NULL,
	[DiaHora] [datetime] NOT NULL,
 CONSTRAINT [PK_EventoUsuario] PRIMARY KEY CLUSTERED 
(
	[ID_EventoUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Informe]    Script Date: 5/07/2025 13:12:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Informe](
	[ID_Informe] [int] IDENTITY(1,1) NOT NULL,
	[ID_Scout] [int] NOT NULL,
	[ID_Jugador] [int] NOT NULL,
	[Fecha] [date] NOT NULL,
	[Puntaje] [int] NOT NULL,
	[Comentario] [varchar](200) NULL,
	[Lista] [bit] NOT NULL,
 CONSTRAINT [PK_Informe] PRIMARY KEY CLUSTERED 
(
	[ID_Informe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Jugador]    Script Date: 5/07/2025 13:12:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Jugador](
	[ID_Jugador] [int] NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Genero] [varchar](1) NOT NULL,
	[Categoria] [varchar](15) NOT NULL,
	[Posicion] [varchar](15) NOT NULL,
	[Region] [varchar](10) NOT NULL,
	[Club] [varchar](15) NOT NULL,
	[InicioCarrera] [date] NOT NULL,
	[Altura] [int] NOT NULL,
	[Peso] [decimal](5, 2) NOT NULL,
	[PerfilDominante] [varchar](10) NOT NULL,
	[CondicionFisica] [varchar](10) NOT NULL,
	[HabilidadPrincipal] [varchar](15) NOT NULL,
	[TotalGoles] [int] NOT NULL,
	[UltimaActualizacion] [date] NOT NULL,
	[Comentarios] [varchar](200) NULL,
	[Puntos] [int] NOT NULL,
	[Puesto] [int] NOT NULL,
	[Eliminado] [bit] NOT NULL,
 CONSTRAINT [PK_Jugador] PRIMARY KEY CLUSTERED 
(
	[ID_Jugador] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Logro]    Script Date: 5/07/2025 13:12:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Logro](
	[ID_Logro] [int] IDENTITY(1,1) NOT NULL,
	[ID_Jugador] [int] NOT NULL,
	[Fecha] [date] NOT NULL,
	[Tipo] [varchar](15) NOT NULL,
	[Descripcion] [varchar](200) NULL,
	[Puntaje] [int] NOT NULL,
 CONSTRAINT [PK_Logro] PRIMARY KEY CLUSTERED 
(
	[ID_Logro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Scout]    Script Date: 5/07/2025 13:12:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Scout](
	[ID_Scout] [int] NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Club] [varchar](15) NOT NULL,
	[Especialidad] [varchar](25) NOT NULL,
	[Eliminado] [bit] NOT NULL,
 CONSTRAINT [PK_Scout] PRIMARY KEY CLUSTERED 
(
	[ID_Scout] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 5/07/2025 13:12:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[ID_Usuario] [int] IDENTITY(1,1) NOT NULL,
	[NombreUsuario] [varchar](20) NOT NULL,
	[Contraseña] [varchar](50) NOT NULL,
	[Icono] [int] NOT NULL,
	[Eliminado] [bit] NOT NULL,
 CONSTRAINT [PK_Usuario] PRIMARY KEY CLUSTERED 
(
	[ID_Usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Administrador] ([ID_Administrador]) VALUES (5)
GO
SET IDENTITY_INSERT [dbo].[EventoUsuario] ON 

INSERT [dbo].[EventoUsuario] ([ID_EventoUsuario], [ID_Usuario], [Evento], [DiaHora]) VALUES (1, 1, N'Registro de jugador', CAST(N'2025-07-04T03:29:52.760' AS DateTime))
INSERT [dbo].[EventoUsuario] ([ID_EventoUsuario], [ID_Usuario], [Evento], [DiaHora]) VALUES (2, 1, N'Eliminación de cuenta', CAST(N'2025-07-04T03:30:01.057' AS DateTime))
INSERT [dbo].[EventoUsuario] ([ID_EventoUsuario], [ID_Usuario], [Evento], [DiaHora]) VALUES (3, 3, N'Registro de usuario', CAST(N'2025-07-04T04:23:59.120' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[EventoUsuario] OFF
GO
SET IDENTITY_INSERT [dbo].[Informe] ON 

INSERT [dbo].[Informe] ([ID_Informe], [ID_Scout], [ID_Jugador], [Fecha], [Puntaje], [Comentario], [Lista]) VALUES (1, 2, 3, CAST(N'2025-07-04' AS Date), 10, N'jiji', 1)
INSERT [dbo].[Informe] ([ID_Informe], [ID_Scout], [ID_Jugador], [Fecha], [Puntaje], [Comentario], [Lista]) VALUES (2, 10, 18, CAST(N'2025-06-15' AS Date), 25, N'Buen control de balón', 1)
INSERT [dbo].[Informe] ([ID_Informe], [ID_Scout], [ID_Jugador], [Fecha], [Puntaje], [Comentario], [Lista]) VALUES (3, 13, 18, CAST(N'2025-06-17' AS Date), 30, N'Gran visión de juego', 0)
SET IDENTITY_INSERT [dbo].[Informe] OFF
GO
INSERT [dbo].[Jugador] ([ID_Jugador], [Nombre], [Genero], [Categoria], [Posicion], [Region], [Club], [InicioCarrera], [Altura], [Peso], [PerfilDominante], [CondicionFisica], [HabilidadPrincipal], [TotalGoles], [UltimaActualizacion], [Comentarios], [Puntos], [Puesto], [Eliminado]) VALUES (1, N'prueba', N'F', N'Profesional', N'Centrocampista', N'CONACAF', N'Sin club', CAST(N'2025-07-04' AS Date), 1, CAST(1.00 AS Decimal(5, 2)), N'Derecha', N'Buena', N'Tiki taka', 1, CAST(N'2025-07-04' AS Date), N'', 0, 1, 1)
INSERT [dbo].[Jugador] ([ID_Jugador], [Nombre], [Genero], [Categoria], [Posicion], [Region], [Club], [InicioCarrera], [Altura], [Peso], [PerfilDominante], [CondicionFisica], [HabilidadPrincipal], [TotalGoles], [UltimaActualizacion], [Comentarios], [Puntos], [Puesto], [Eliminado]) VALUES (3, N'Paula', N'F', N'Profesional', N'Centrocampista', N'CONACAF', N'Sin club', CAST(N'2025-07-04' AS Date), 169, CAST(55.00 AS Decimal(5, 2)), N'Derecha', N'Buena', N'Tiki taka', 2, CAST(N'2025-07-04' AS Date), N'', 50, 12, 0)
INSERT [dbo].[Jugador] ([ID_Jugador], [Nombre], [Genero], [Categoria], [Posicion], [Region], [Club], [InicioCarrera], [Altura], [Peso], [PerfilDominante], [CondicionFisica], [HabilidadPrincipal], [TotalGoles], [UltimaActualizacion], [Comentarios], [Puntos], [Puesto], [Eliminado]) VALUES (6, N'Fressia', N'F', N'Cadete', N'Portero', N'OFC', N'Monaco', CAST(N'2025-06-29' AS Date), 157, CAST(58.00 AS Decimal(5, 2)), N'Derecha', N'Regular', N'Pases largos', 79, CAST(N'2025-07-04' AS Date), N'', 30, 13, 0)
GO
SET IDENTITY_INSERT [dbo].[Logro] ON 

INSERT [dbo].[Logro] ([ID_Logro], [ID_Jugador], [Fecha], [Tipo], [Descripcion], [Puntaje]) VALUES (1, 3, CAST(N'2025-07-04' AS Date), N'Bota de Oro', N'wow', 15)
INSERT [dbo].[Logro] ([ID_Logro], [ID_Jugador], [Fecha], [Tipo], [Descripcion], [Puntaje]) VALUES (2, 6, CAST(N'2025-07-04' AS Date), N'Balon de Oro', N'', 20)
INSERT [dbo].[Logro] ([ID_Logro], [ID_Jugador], [Fecha], [Tipo], [Descripcion], [Puntaje]) VALUES (3, 6, CAST(N'2025-07-04' AS Date), N'Jugador del año', N'', 10)
SET IDENTITY_INSERT [dbo].[Logro] OFF
GO
INSERT [dbo].[Scout] ([ID_Scout], [Nombre], [Club], [Especialidad], [Eliminado]) VALUES (2, N'Claudia Calderon', N'Monaco', N'Alto rendimiento/élite', 0)
INSERT [dbo].[Scout] ([ID_Scout], [Nombre], [Club], [Especialidad], [Eliminado]) VALUES (4, N'Carlos', N'Arsenal', N'Especialista en porteros', 0)
INSERT [dbo].[Scout] ([ID_Scout], [Nombre], [Club], [Especialidad], [Eliminado]) VALUES (8, N'Carlos Mendoza', N'Barcelona', N'Ojeador regional', 0)
GO
SET IDENTITY_INSERT [dbo].[Usuario] ON 

INSERT [dbo].[Usuario] ([ID_Usuario], [NombreUsuario], [Contraseña], [Icono], [Eliminado]) VALUES (1, N'j1', N'123', 0, 1)
INSERT [dbo].[Usuario] ([ID_Usuario], [NombreUsuario], [Contraseña], [Icono], [Eliminado]) VALUES (2, N'clau00', N'098', 4, 0)
INSERT [dbo].[Usuario] ([ID_Usuario], [NombreUsuario], [Contraseña], [Icono], [Eliminado]) VALUES (3, N'pau99', N'123', 3, 0)
SET IDENTITY_INSERT [dbo].[Usuario] OFF
GO
ALTER TABLE [dbo].[Administrador]  WITH CHECK ADD  CONSTRAINT [FK_Administrador_Usuario] FOREIGN KEY([ID_Administrador])
REFERENCES [dbo].[Usuario] ([ID_Usuario])
GO
ALTER TABLE [dbo].[Administrador] CHECK CONSTRAINT [FK_Administrador_Usuario]
GO
ALTER TABLE [dbo].[EventoUsuario]  WITH CHECK ADD  CONSTRAINT [FK_EventoUsuario_Usuario] FOREIGN KEY([ID_Usuario])
REFERENCES [dbo].[Usuario] ([ID_Usuario])
GO
ALTER TABLE [dbo].[EventoUsuario] CHECK CONSTRAINT [FK_EventoUsuario_Usuario]
GO
ALTER TABLE [dbo].[Informe]  WITH CHECK ADD  CONSTRAINT [FK_Informe_Jugador] FOREIGN KEY([ID_Jugador])
REFERENCES [dbo].[Jugador] ([ID_Jugador])
GO
ALTER TABLE [dbo].[Informe] CHECK CONSTRAINT [FK_Informe_Jugador]
GO
ALTER TABLE [dbo].[Informe]  WITH CHECK ADD  CONSTRAINT [FK_Informe_Scout] FOREIGN KEY([ID_Scout])
REFERENCES [dbo].[Scout] ([ID_Scout])
GO
ALTER TABLE [dbo].[Informe] CHECK CONSTRAINT [FK_Informe_Scout]
GO
ALTER TABLE [dbo].[Jugador]  WITH CHECK ADD  CONSTRAINT [FK_Jugador_Usuario] FOREIGN KEY([ID_Jugador])
REFERENCES [dbo].[Usuario] ([ID_Usuario])
GO
ALTER TABLE [dbo].[Jugador] CHECK CONSTRAINT [FK_Jugador_Usuario]
GO
ALTER TABLE [dbo].[Logro]  WITH CHECK ADD  CONSTRAINT [FK_Logro_Jugador] FOREIGN KEY([ID_Jugador])
REFERENCES [dbo].[Jugador] ([ID_Jugador])
GO
ALTER TABLE [dbo].[Logro] CHECK CONSTRAINT [FK_Logro_Jugador]
GO
ALTER TABLE [dbo].[Scout]  WITH CHECK ADD  CONSTRAINT [FK_Scout_Usuario] FOREIGN KEY([ID_Scout])
REFERENCES [dbo].[Usuario] ([ID_Usuario])
GO
ALTER TABLE [dbo].[Scout] CHECK CONSTRAINT [FK_Scout_Usuario]
GO
USE [master]
GO
